node_modules/
dist/
.DS_Store
.env
.env.*
npm-debug.log*
android/.gradle/
android/app/build/
android/app/src/main/assets/
android/capacitor-cordova-android-plugins/
ios/capacitor-cordova-ios-plugins/
